body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #566787;
    background: #f5f5f5;
}
.btn-group{
    padding: 10px 100 px;
}
.navbar .container {
    padding: 0 20px;
}

.page-header {
    display: inline-block;
    font-size: xx-large;
    padding: 10px;
    margin: 0;
    border-bottom: 2px double #337ab7;
    border-radius: 5px;
}

.container {
    padding: 0;
}

.language {
    display: inline-block;
    float: right;
    padding: 15px;
}
.table-container {
    max-height: 450px;
    overflow-y: auto;
}

    .table-container th {
        position: sticky;
        top: -1px;
    }


.table-wrapper, .form-horizontal {
    width: 100%;
    background: #fff;
    margin: 10px 0;
    padding: 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.dropdown {
    display: inline-block;
    float: right;
    margin: 20px 40px 20px 20px;
}
.sort-dropdown {
    display: inline-block;
    float: left;
    margin: 20px 40px 20px 20px;
}

table.table {
    width: 100%;
    word-break: break-all;
}

    table.table tr th {
        background-color: #f0f0f0;
    }

    table.table tr td {
        border-color: #e9e9e9;
    }

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background-color: #f0f0f0;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

    table.table td a.view {
        color: #03a9f4;
    }

    table.table td a.edit {
        color: #ffc107;
    }

    table.table td a.delete {
        color: #e34724;
    }

table.table td i {
    font-size: 19px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
    resize: none;
}

.hidden {
    display: none;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}