@using SurveyConfiguratorWeb.Properties
<div class="form-group">
    <div class="btn-group col-md-offset-2 col-md-10">
        <input type="submit" value="@Captions.SAVE_BUTTON" class="btn btn-success" />
        <input type="button" value="@Captions.CANCEL_BUTTON" class="btn btn-danger" onclick="location.href = '@Url.Action("Index")'"  />
    </div>
</div>
